<md-grid-list cols="2" rowHeight="800px">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Revolver</md-card-title>
        <md-card-subtitle>The Beatles</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/Revolver.jpg">
      <md-card-content>
        <p>
          Revolver is the seventh studio album by the English rock band the Beatles. Released on 5 August 1966, it was the Beatles'
          final recording project before their retirement as live performers, and marked a progression on their 1965 release
          Rubber Soul in terms of the group's readiness to experiment in the recording studio.
        </p>
      </md-card-content>
      <md-card-actions>
      <button md-button (click)="openSnackBar()">
        <md-icon mdTooltip="Play">play_arrow</md-icon>
      </button>
      <button md-button (click)="openSnackBar()">
        <md-icon mdTooltip="Pause">pause</md-icon>
      </button>
      <button md-button (click)="openSnackBar()">
        <md-icon mdTooltip="Next">skip_next</md-icon>
      </button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <div>
      <p>Volume</p>
      <md-slider color="primary"></md-slider>
      <p></p>
      <md-slide-toggle color="primary">Repeat</md-slide-toggle>
      <p></p>
      <md-slide-toggle color="primary">Shuffle</md-slide-toggle>
      <md-list>
        <h3 md-subheader>Tracks</h3>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>Taxman</h4>
          <p md-line>2:39</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>Eleanor Rigby</h4>
          <p md-line>2:06</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>I'm Only Sleeping</h4>
          <p md-line>3:00</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>Love You To</h4>
          <p md-line>2:59</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>Here, There and Everywhere</h4>
          <p md-line>2:25</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>Yellow Submarine</h4>
          <p md-line>2:41</p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>audiotrack</md-icon>
          <h4 md-line>She Said She Said</h4>
          <p md-line>2:37</p>
        </md-list-item>
      </md-list>
    </div>
  </md-grid-tile>
</md-grid-list>